*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
i:hover{
    color: rgba(110, 54, 54, 0.664);
}
ul li a:hover{
    background: rgba(255, 0, 0, 0.548);
    transition: 0.5s;
}
body{
    background: #ccc;
    font-family: sans-serif;

}
ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%);
    display: flex;
    margin: 0;
    padding:0;
}
ul li{
    list-style: none;
    margin: 0 5px;
    
}
ul li a .fa{
    font-size: 40px;
    color: #333;
    line-height: 80px;
    transition: 0.5s;
    padding-right: 14px;


}
ul i a span{
    padding: 0;
    margin: 0;
    position: absolute;
    top: 30px;
    color: 333;
    letter-spacing: 4px;
    transition: 0.5s;

}
ul li a{
    color: black;
    display:absolute;
box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.664);
    display: block;
    width: 210px;
    height: 80px;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    text-align: left;
    padding-left: 20px;
    transform: rotate(-30deg) skewX(25deg) translate(0,0) ;
    transition: 0.5s;
    
    
}


ul li a::after{
 background: ;
    content: '';
position: absolute;
top: 10px;
left: -20px;
height: 100%;
width: 100%;
transform: 0.5s;
transform: 0.5s;
transform: rotate((0deg) skewX(-45deg);

text-transform: uppercase;

}
ul li:hover .fa {
    color: #fff;
}
ul li:hover span{
    color: #fff;
}
ul i a:hover a{
    background: rgba(255, 0, 0, 0.699);
}